*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
**/build/
/captures
.externalNativeBuild
.cxx
.kotlin/
.vscode/
local.properties
keystore.properties*
*.jks
*.keystore
keystore/
upload_certificate.pem
/*.png
/*.jpg

